includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 5
    paths:
        - pluginora.php
        - uninstall.php
        - src
    parallel:
        maximumNumberOfProcesses: 1
    bootstrapFiles:
        - phpstan-bootstrap.php
        - vendor/autoload.php
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
    excludePaths:
        analyse:
            - tests/*
            - vendor/*