PLUGINORA_E2E_BASE_URL=http://127.0.0.1:8889
PLUGINORA_E2E_ADMIN_USERNAME=admin
PLUGINORA_E2E_ADMIN_PASSWORD=password
PLUGINORA_E2E_PRODUCT_ID=0
PLUGINORA_E2E_PRODUCT_URL=http://127.0.0.1:8889/product/pluginora-e2e-hoodie/
PLUGINORA_E2E_CART_URL=http://127.0.0.1:8889/cart/
PLUGINORA_E2E_CHECKOUT_URL=http://127.0.0.1:8889/checkout/